$ cat .gitignore

#-----------------------------------------------
# Filetypes to ignore
#-----------------------------------------------

#--------------
# Generic

# Tempory files
*~
*.csv
*.pgm
*.swp

*.wlf
*.vstf

#-----------------------------------------------
# Directories to ignore
#-----------------------------------------------

# Tempory folder
tmp
