$ cat .gitignore

#-----------------------------------------------
# Filetypes to ignore
#-----------------------------------------------

#--------------
# Generic

# Tempory files
*~
*.csv
*.pgm
*.swp

*.wlf
*.vstf

*.cf

#-----------------------------------------------
# Directories to ignore
#-----------------------------------------------

# Tempory folder
tmp
# Generated targets
bld

# Doxygen documentation
doc/html
doc/gh-pages
