$ cat .gitignore

#-----------------------------------------------
# Filetypes to ignore
#-----------------------------------------------

#--------------
# Generic

# Tempory files
*~
*.csv
*.swp

*.wlf
*.vstf

*.cf

#-----------------------------------------------
# Directories to ignore
#-----------------------------------------------

# Tempory folder
tmp
# Generated targets
bld

# Test outputs
tst/output
src/*/tst/output
src/*/tst/input

# Doxygen documentation
doc/html
doc/gh-pages
